@define-color bright1 rgba(141,60,255,1);
@define-color bright2 @bright1;

@define-color font1 rgba(255,255,255,1);
@define-color font2 rgba(150,155,255,1);

@define-color background1 rgba(10,5,20,0.7);

@define-color hover1 rgba(134,111,169,1);

@define-color highlight1 rgba(255,255,255,1);
@define-color highlight2 rgba(255,255,255,0.4);

@define-color fontshadow1 rgba(0,0,0,0.6);

@define-color shadow1 rgba(0,0,0,0.8);

* {
  box-shadow: none;
  outline: none;
  border: none;
  background: none;
  background-image: none;
  border-radius: 0px;
  font-family: Jetbrains Mono;
  font-size: 14px;
  min-height: 0px;
  color: @font1;
  text-shadow: 0px 0px 4px @fontshadow1;
}

.modules-left, .modules-center, .modules-right {
  border-radius: 8px;
}

@keyframes tiling { /* cubic-bezier(0.6,0.4,0.3,1) */
  0% { background:
    linear-gradient(0deg, @bright1 0%, @bright1 100%) 0% 0% / 10% 2px,
    linear-gradient(0deg, @bright1 0%, @bright1 100%) 0% 28px / 10% 2px,
    linear-gradient(0deg, @bright1 0%, @bright1 100%) 100% 0% / 10% 2px,
    linear-gradient(0deg, @bright1 0%, @bright1 100%) 100% 28px / 10% 2px,
    linear-gradient(0deg, @bright1 0%, @bright1 100%) 50% 0% / 10% 2px,
    linear-gradient(0deg, @bright1 0%, @bright1 100%) 50% 28px / 10% 2px,
    linear-gradient(0deg, @background1 0%, @background1 100%) 0% 0% / 10% 28px,
    linear-gradient(0deg, @background1 0%, @background1 100%) 100% 0% / 10% 28px,
    linear-gradient(0deg, @background1 0%, @background1 100%) 50% 0% / 10% 28px;
  }
  100% { background:
    linear-gradient(0deg, @bright1 0%, @bright1 100%) 0% 0% / 25% 2px,
    linear-gradient(0deg, @bright1 0%, @bright1 100%) 0% 28px / 25% 2px,
    linear-gradient(0deg, @bright1 0%, @bright1 100%) 100% 0% / 25% 2px,
    linear-gradient(0deg, @bright1 0%, @bright1 100%) 100% 28px / 25% 2px,
    linear-gradient(0deg, @bright1 0%, @bright1 100%) 50% 0% / 50% 2px,
    linear-gradient(0deg, @bright1 0%, @bright1 100%) 50% 28px / 50% 2px,
    linear-gradient(0deg, @background1 0%, @background1 100%) 0% 0% / 25% 28px,
    linear-gradient(0deg, @background1 0%, @background1 100%) 100% 0% / 25% 28px,
    linear-gradient(0deg, @background1 0%, @background1 100%) 50% 0% / 50% 28px;
  }
}

window#waybar.main {
  border-radius: 20px;
}

window#waybar.main.floating .modules-left,
window#waybar.main.empty .modules-left,
window#waybar.main.floating .modules-center,
window#waybar.main.empty .modules-center,
window#waybar.main.floating .modules-right,
window#waybar.main.empty .modules-right {
  padding: 4px;
  box-shadow:
    inset 0px 0px 0px 2000px @background1,
    inset 0px 0px 0px 2px @bright1,
    0px 0px 8px 0px @shadow1;
}
window#waybar.main.floating .modules-left,
window#waybar.main.empty .modules-left {
  transition:
    padding 0.1s,
    margin-left 0.3s cubic-bezier(0.4,0,0,1),
    margin-bottom 0.3s cubic-bezier(0.4,0,0,1);
  margin: 16px 16px 16px 16px;
}
window#waybar.main.floating .modules-center,
window#waybar.main.empty .modules-center {
  transition:
    padding 0.1s,
    margin-bottom 0.3s cubic-bezier(0.4,0,0,1);
  margin: 16px 16px 16px 16px;
}
window#waybar.main.floating .modules-right,
window#waybar.main.empty .modules-right {
  transition:
    padding 0.1s,
    margin-right 0.3s cubic-bezier(0.4,0,0,1),
    margin-bottom 0.3s cubic-bezier(0.4,0,0,1);
  margin: 16px 16px 16px 16px;
}

window#waybar.main:not(.floating):not(.empty) {
  transition: all 0s linear 0.25s;
  background-repeat: no-repeat;
  animation: tiling 0.25s cubic-bezier(0.6,0.4,0.3,1);
  animation-fill-mode: forwards;
  border-radius: 8px;
}
window#waybar.main:not(.floating):not(.empty) .modules-right,
window#waybar.main:not(.floating):not(.empty) .modules-left,
window#waybar.main:not(.floating):not(.empty) .modules-center {
  transition: margin-bottom 0.3s;
  margin-bottom: 0px;
}

#left {
  border-radius: 8px 0px 0px 8px;
}
#clocks {
  border-radius: 0px 8px 8px 0px;
}
window#waybar.main:not(.floating):not(.empty) #left {
  transition: none;
  box-shadow:
    inset 2px 0px 0px 0px @bright1,
    inset 0px 2px 0px 0px @bright1,
    inset 0px -2px 0px 0px @bright1;
}
window#waybar.main:not(.floating):not(.empty) #clocks {
  transition: none;
  box-shadow:
    inset -2px 0px 0px 0px @bright1,
    inset 0px 2px 0px 0px @bright1,
    inset 0px -2px 0px 0px @bright1;
}

tooltip, menu {
  background: #1f1f1f;
  border: solid 1px #0f0f0f;
  border-radius: 8px;
}
menuitem {
  border-radius: 6px;
  transition: background 0.1s;
  margin: 0px 1px;
  padding: 4px 4px;
}
menuitem:hover {
  background: @hover1;
  font-weight: bolder;
}

window#waybar.main.empty #network,
window#waybar.main.floating #network {
  padding-right: 11px;
}
#network {
  padding: 0px 9px 0px 2px;
  margin: 0px 0px 0px 6px;
  background: no-repeat linear-gradient(0deg, @bright1 0%, @bright1 100%, @bright1 100%) right / 2px 18px;
}

window#waybar.main.empty #custom-weather,
window#waybar.main.floating #custom-weather {
  margin-left: 8px;
  padding-right: 11px;
}
#custom-weather {
  padding: 0px 9px 0px 2px;
  margin: 0px 0px 0px 6px;
  background: no-repeat linear-gradient(0deg, @bright1 0%, @bright1 100%, @bright1 100%) right / 2px 18px;
}

window#waybar.main.empty #clocks,
window#waybar.main.floating #clocks {
  padding-left: 9px;
}
#clocks {
  padding: 0px 8px 0px 7px;
}
#clock.hour {
  margin-bottom: -4px;
}
#clock.day {
  margin: -3px 0px 1px 0px;
  font-size: 11px;
  color: @font2;
}

#workspaces {
  margin: 0px 6px;
}
#workspaces button {
  min-width: 14px;
  margin: 6px 1px;
  padding: 0px;
  border-radius: 20px;
  border: solid 2px @bright2;
  outline-style: solid;
  outline-color: white;
  outline-width: 2px;
  background: no-repeat radial-gradient(transparent 60%, transparent 20%) center / 0px 0px;
  transition:
    background 0.4s cubic-bezier(0.4, 0.15, 0, 1),
    border 0.4s cubic-bezier(0.4, 0.15, 0, 1);
}
#workspaces button * {
  font-size: 0px;
}
#workspaces button.active {
  background: no-repeat radial-gradient(@bright2 60%, transparent 20%) center / 10px 10px;
}
#workspaces button:hover {
  border: solid 2px @bright2;
}
#workspaces button.active:hover {
  background: no-repeat radial-gradient(@bright2 60%, transparent 20%) center / 10px 10px;
}

window#waybar.main.empty #tray,
window#waybar.main.floating #tray {
  padding-left: 8px;
  margin-left: 2px;
}
#tray {
  margin: 2px 4px 2px 0px;
  background: no-repeat linear-gradient(0deg, @bright1 0%, @bright1 100%, @bright1 100%) left / 2px 18px;
  padding-left: 6px;
}
#tray > * > * {
  padding: 0px 1px;
  margin: 2px 0px;
  border-radius: 4px;
  transition: background 0.2s cubic-bezier(0.4, 0.15, 0, 1);
}
#tray > *:hover > *:not(window) {
  background: @hover1;
}

window#waybar.main.empty #battery,
window#waybar.main.floating #battery {
  padding: 0px 2px 0px 10px;
  margin-right: 6px;
}
#battery {
  padding: 0px 2px 0px 8px;
  margin-right: 4px;
  background: no-repeat linear-gradient(0deg, @bright1 0%, @bright1 100%, @bright1 100%) left / 2px 18px;
}

#pulseaudio {
  padding: 1px 4px 1px 3px;
  margin: 4px;
  border-radius: 4px;
  transition:
    background 0.2s cubic-bezier(0.8, 0.15, 0, 1),
    color 0.2s cubic-bezier(0.4, 0.15, 0, 1);
  background: no-repeat linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%) center / 0% 2px;
}
#pulseaudio.muted {
  color: rgba(255,255,255,0.5);
  background: no-repeat linear-gradient(0deg, @font1 0%, @font1 100%) center / 90% 2px;
}
#pulseaudio:hover {
  background-color: @hover1;
}

#window {
  min-width: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
}

window#waybar.watermark {
  box-shadow: none;
  animation: none;
}

#custom-topwm, #custom-bottomwm {
  color: rgba(255,255,255,0.7);
  font-family: 'Segoe UI';
  text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

#custom-topwm {
  margin-top: 20px;
  font-size: 24px;
  margin-right: 100px;
}
#custom-bottomwm {
  font-size: 18px;
  margin-bottom: 20px;
}
